<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
    <link rel="stylesheet" type="text/css" href="/public/dashboard.css">
    <script src="public/dashboard.js" defer></script>
</head>
<body>
    <div class="toptop">
        <h2>Data Dashboard</h2>
    </div>


    <div class="topnav">
        <a class="active" href="/dashboard">Dashboard</a>
        <!-- <a href="/record">AI Voice Assistant</a> -->
        <div class='logout_button'> Logout </div>
    </div>

    <p class="welcome-banner">Welcome <span>{{username}}</span></p>

    <form id="data-form">
        <input type="hidden" id="user-id" name="user-id" value="{{ user_id }}">
        <label for="location">Location:</label>
        <select id="location" name="location">
            <option value="Bedroom">Bedroom</option>
            <option value="Front Porch">Front Porch</option>
        </select>
        <label for="start-time">Start Time:</label>
        <input type="datetime-local" id="start-time" name="start-time">
        <label for="end-time">End Time:</label>
        <input type="datetime-local" id="end-time" name="end-time">
        <button type="submit">View Graph</button>
    </form>

    <div id="panel-view" class="chart-view">
        <h3>{{location}}Temperature and Humidity</h3>
        <div class="panel-grid">
            <div class="panel-card">
                <h4>Temperature</h4>
                <canvas id="tempChart" class="chart-canvas"></canvas>
            </div>
            <div class="panel-card">
                <h4>Humidity</h4>
                <canvas id="humidChart" class="chart-canvas"></canvas>
            </div>
        </div>
    </div>
</body>
</html>
