<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="icon" href="public/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/public/homepage.css">
    <script src="public/homepage.js" defer></script>
</head>
<body>
    <div class="container">

        <h2>Create Account</h2>
        <form name='add_user' action='/users' method='POST'>
            <input type='text' name='first_name' id="first_name" placeholder='First Name' autofocus>
            <input type='text' name='last_name' id="last_name" placeholder='Last Name' required>
            <input type="text" name="username" id="username" placeholder="Username" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input type="submit" value="Create Account">
        </form>

        <div class="sign-in">
            Already have an account? <a href="/login">Sign In</a>
        </div>

    </div>
</body>
</html>
