ENTERPRISE_USERNAME=<username to connect to enterprise wifi>
ENTERPRISE_PASSWORD=<password to connect to enterprise wifi>
ESP_LOCATION=<Location of the ESP32 device>
WIFI_SSID=
NON_ENTERPRISE_WIFI_PASSWORDD=<?Optional don't need it if you are connecting to enterprise wifi since that uses username, password>
USER_ID=<Replace with your USER_ID>